body {
    background: white;
    padding: 0px 175px;
    font-family: Georgia;
}

h1  {
    text-align: center;
}

#headBackground {
    background: #5C5858;
    padding-top: 25px;
    padding-bottom: 40px;
}

input   {
    border-style: solid; 
    border-width: 1px;
    margin: 3px;
}
button  {
   float: right;
   border: black;
   border-style: solid;
   border-width: 2px;
   border-radius: 5px;
}

table   {
    float: left;
    border-collapse: collapse;
    width: 75%;
}

table    {
    margin: auto;
}

table, tr, th, td   {
    border-width: thin;
    border-style: solid;
    padding: 5px 5px;
}

tr  {
    border: solid;
    border-width: 1px;
}